{% set bookplate_modifier_class = bookplate_modifier_class|default('')|trim %}
{% set bookplate_title = bookplate_title|default('')|trim %}
{% set bookplate_display_title = bookplate_title %}
{% set bookplate_author = bookplate_author|default('')|trim %}
{% set bookplate_collection_label = bookplate_collection_label|default('Coleção NatalCode')|trim %}
{% set bookplate_section_title = bookplate_section_title|default('Biblioteca Digital')|trim %}
{% set bookplate_subtitle_line_1 = bookplate_subtitle_line_1|default('NatalCode')|trim %}
{% set bookplate_subtitle_line_2 = bookplate_subtitle_line_2|default('Base de conhecimento')|trim %}
{% if bookplate_display_title == '' or bookplate_display_title == 'livro' %}
  {% set bookplate_display_title = 'Acervo NatalCode' %}
{% endif %}
<div class="nc-library-bookplate-default{% if bookplate_modifier_class %} {{ bookplate_modifier_class }}{% endif %}" role="img" aria-label="Capa padrão institucional para {{ bookplate_display_title }}">
  <div class="nc-library-bookplate-default-panel">
    <div class="nc-library-bookplate-default-top">
      <span class="nc-library-bookplate-default-mark">{{ bookplate_collection_label }}</span>
      <span class="nc-library-bookplate-default-book-title">{{ bookplate_display_title }}</span>
    </div>
    <span class="nc-library-bookplate-default-portrait-frame">
      <img
        class="nc-library-bookplate-default-portrait"
        src="/assets/img/brand/natalcode1.png"
        alt=""
        loading="lazy"
      >
    </span>
    <span class="nc-library-bookplate-default-rule"></span>
    <div class="nc-library-bookplate-default-copy">
      <span class="nc-library-bookplate-default-title">{{ bookplate_section_title }}</span>
      <span class="nc-library-bookplate-default-subtitle">{{ bookplate_subtitle_line_1 }}</span>
      <span class="nc-library-bookplate-default-subtitle">{{ bookplate_subtitle_line_2 }}</span>
    </div>
    {% if bookplate_author %}
      <span class="nc-library-bookplate-default-author">{{ bookplate_author }}</span>
    {% endif %}
  </div>
</div>
